body{
	font-family: "Gentium Book Basic", 'Times New Roman', serif;
	color: #191919;
}
a{
	color: #ffffff;
	text-decoration: none;
	transition: all .3s ease-in-out;
}
.header{
	background: url('../img/bg.jpg') no-repeat;
	height: 770px;
	background-size: cover;
	color: #fff;
}
.container{
	width: 700px;
	margin: 0 auto;
	color: #fff;
}
h1{
	padding: 540px 0 10px;
	font-size: 55px;
}
h2{
	font-size: 25px;
	font-style: italic;
	color: #d7d7d7;
}
hr{
	margin: 20px 0;
}
.h4{
	font-family: "Open Sans", 'Arial', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.name{
	font-family: "Open Sans", 'Arial', sans-serif;
	font-size: 15px;
	display: block;
	padding-top: 5px;
	font-weight: bold;
}
.address{
	float: left;
}
.author-photo{
	position: relative;
	left: 210px;
	bottom: 25px;
}
.links{
	margin-top: 20px;
	display: block;
	float: right;
}
.links li{
	display: inline-block;
	padding-left: 15px;
}
.links a:hover{
	color: #527674;
}
.main{
	width: 700px;
	margin: 0 auto;
	padding: 60px 0 20px 0;
}
.main p{
	font-size: 22px;
	line-height: 40px;
}
.main q{
	display: block;
	padding: 30px 0;
	font-size: 30px;
	line-height: 40px;
	font-style: italic;
	text-align: center;
	color: #626262;
}
.caption{
	padding-bottom: 60px;
}
.list-quote li{
	font-size: 22px;
	line-height: 40px;
	padding: 0 0 60px 0;
}
.list-quote{
	display: block;
	padding-left: 25px;
	list-style: disc;
	list-style-position: inside;
}
.main a{
	font: 700 12px "Open Sans", Arial, sans-serif;
	color:#999;
	margin: 0 auto 20px;
	text-align: center;
	text-transform: uppercase;
	display: block;
}
.main a:hover{
	color: #2ecc71;
}
.main i{
	display: block;
	margin-bottom: 5px;
}
.pre-footer{
	background: url('../img/mini-bg.jpg');
	background-size: cover;
	padding: 100px 0;
}
.button{
	font: 600 12px 'Open Sans', Arial, sans-serif;
	line-height: 24px;
	text-transform: uppercase;
	color: #2ecc71;
	border: 2px solid #2ecc71;
	border-radius: 28px;
	margin: 0 auto;
	display: block;
	width: 200px;
	text-align: center;
	line-height: 55px;
}
.button:hover{
	color: #fff;
	background-color: #2ecc71;
}
.col-1{
	background: url('../img/image1.jpg');
}
.col-2{
	background: url('../img/image2.jpg');
}
.col-1, .col-2{
	background-size: cover;
	background-position: 100% 100%;
	width: 50%;
	float: left;
	height: 360px;
}
.footer{
	color: #fff;
}
.footer p{
	font: 400 15px 'Open Sans', Arial, sans-serif;
	line-height: 42px;
	text-transform: uppercase;
	padding-bottom: 30px;
}	
.text{
	padding: 65px;
}
.footer a{
	font-size: 35px;
	line-height: 40px;
	font-weight: normal;
}
.footer a:hover{
	color: #BEBEBE;
}
.footer .h4{
	font-family: "Gentium Book Basic", 'Times New Roman', serif;
	font-size: 30px;
	line-height: 40px;
	font-style: italic;
	text-transform: none;
}